<!DOCTYPE html>
<html lang="zxx">


<head>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    <!-- Title -->
    <title>..:: LIBRARIA ::..</title>

    <!-- Favicon -->
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- Fonts -->
    <link
        href="/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Mobile Menu -->
    <link href="/css/mmenu.css" rel="stylesheet" type="text/css" />
    <link href="/css/mmenu.positioning.css" rel="stylesheet" type="text/css" />

    <!-- Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <style>
        #bookTable th,
        #bookTable td {
            text-align: center;
            vertical-align: middle;
        }

        .hidden {
            display: none;
        }

        .modal {
            display: none;
            /* Ẩn modal theo mặc định */
            position: fixed;
            /* Giữ modal ở vị trí cố định */
            z-index: 1000;
            /* Đảm bảo modal hiển thị trên cùng */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            /* Kích hoạt cuộn nếu nội dung quá dài */
            background-color: rgb(0, 0, 0);
            /* Màu nền đen với độ mờ */
            background-color: rgba(0, 0, 0, 0.4);
            /* Độ mờ */
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* Căn giữa modal */
            padding: 20px;
            border: 1px solid #888;
            width: 250px;
            /* Chiều rộng của modal */
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <!-- Start: Header Section -->
    <header id="header-v1" class="navbar-wrapper">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="navbar-header">
                                <div class="navbar-brand">
                                    <h1>
                                        <a href="index-2.html">
                                            <img src="images/libraria-logo-v1.png" alt="LIBRARIA" />
                                        </a>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <!-- Header Topbar -->
                            <div class="header-topbar hidden-sm hidden-xs">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="topbar-info">
                                            <a href="tel:+84-3-8376-6284"><i class="fa fa-phone"></i>+84334174563</a>
                                            <span>/</span>
                                            <a id="emailLink" href="mailto:support@libraria.com"><i
                                                    class="fa fa-envelope"></i>chien4@gmail.com</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="topbar-links">
                                            <a href="home"><i class="fa fa-lock"></i>Account</a>
                                            <div class="header-cart dropdown">
                                                <div class="dropdown-menu cart-dropdown">
                                                    <ul>
                                                        <li class="clearfix">
                                                            <img src="images/header-cart-image-01.jpg"
                                                                alt="cart item" />
                                                            <div class="item-info">
                                                                <div class="name">
                                                                    <a href="#">The Great Gatsby</a>
                                                                </div>
                                                                <div class="author"><strong>Author:</strong> F. Scott
                                                                    Fitzgerald</div>
                                                                <div class="price">1 X $10.00</div>
                                                            </div>
                                                            <a class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <img src="images/header-cart-image-02.jpg"
                                                                alt="cart item" />
                                                            <div class="item-info">
                                                                <div class="name">
                                                                    <a href="#">The Great Gatsby</a>
                                                                </div>
                                                                <div class="author"><strong>Author:</strong> F. Scott
                                                                    Fitzgerald</div>
                                                                <div class="price">1 X $10.00</div>
                                                            </div>
                                                            <a class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                                        </li>
                                                        <li class="clearfix">
                                                            <img src="images/header-cart-image-03.jpg"
                                                                alt="cart item" />
                                                            <div class="item-info">
                                                                <div class="name">
                                                                    <a href="#">The Great Gatsby</a>
                                                                </div>
                                                                <div class="author"><strong>Author:</strong> F. Scott
                                                                    Fitzgerald</div>
                                                                <div class="price">1 X $10.00</div>
                                                            </div>
                                                            <a class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                                        </li>
                                                    </ul>
                                                    <div class="cart-total">
                                                        <div class="title">SubTotal</div>
                                                        <div class="price">$30.00</div>
                                                    </div>
                                                    <div class="cart-buttons">
                                                        <a href="cart.html" class="btn btn-dark-gray">View Cart</a>
                                                        <a href="checkout.html" class="btn btn-primary">Checkout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-collapse hidden-sm hidden-xs">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled" href="home">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled"
                                            href="books">Books</a>
                                    </li>
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled" href="loan">Loan</a>
                                    </li>
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled"
                                            href="returnSlip">Return</a>
                                    </li>
                                    <li class="dropdown active">
                                        <a data-toggle="dropdown" class="dropdown-toggle disabled"
                                            href="/supplier">Supplier</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu hidden-lg hidden-md">
                        <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                        <div id="mobile-menu">
                            <ul>
                                <li class="mobile-title">
                                    <h4>Navigation</h4>
                                    <a href="#" class="close"></a>
                                </li>
                                <li>
                                    <a href="index-2.html">Home</a>
                                </li>
                                <li>
                                    <a href="books-media-list-view.html">Books</a>
                                </li>
                                <li>
                                    <a href="news-events-list-view.html">Loan</a>
                                </li>
                                <li>
                                    <a href="#">Return</a>
                                </li>
                                <li><a href="services.html">Analyst</a></li>
                                <li><a href="contact.html">Account</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- End: Header Section -->

    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>Suppliers</h2>
                <span class="underline center"></span>
                <p class="lead">Over 10000 books in PTIT Library.</p>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->

    <section class="search-filters" style="margin-top: 30px; margin-bottom: 30px">
        <div class="container">
            <div style="display: flex; justify-content: center; margin-top: 30px; margin-bottom: 30px;">
                <button onclick="toggleForm()" id="buttonAddSupplier" style="margin: 0 10px;">Add Suppier</button>
                <button onclick="goToOrderManagement()" id="buttonOrder" style="margin: 0 10px;">Order Slip
                    Management</button>
                <button onclick="goToImportManagement()" id="buttonOrder" style="margin: 0 10px;">Import Slip
                    Management</button>
            </div>

            <form id="supplierForm" onsubmit="submitSupplierForm(event)" style="display: none;">
                <div style="margin-bottom: 15px;">
                    <label for="supplierName" style="display: block; margin-bottom: 5px;">Name:</label>
                    <input type="text" id="supplierName" name="supplierName"
                        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                </div>
                <div style="margin-bottom: 15px;">
                    <label for="supplierEmail" style="display: block; margin-bottom: 5px;">Email:</label>
                    <input type="email" id="supplierEmail" name="supplierEmail"
                        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                </div>
                <div style="margin-bottom: 15px;">
                    <label for="supplierPhoneNumber" style="display: block; margin-bottom: 5px;">Phone Number:</label>
                    <input type="text" id="supplierPhoneNumber" name="supplierPhoneNumber"
                        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                </div>
                <div style="margin-bottom: 15px;">
                    <label for="supplierAddress" style="display: block; margin-bottom: 5px;">Address:</label>
                    <input type="text" id="supplierAddress" name="supplierAddress"
                        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                </div>
                <div style="margin-bottom: 15px;">
                    <label for="supplierStatus" style="display: block; margin-bottom: 5px;">Status:</label>
                    <select id="supplierStatus" name="supplierStatus"
                        style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                        <option value="Pending">Pending</option>
                    </select>
                </div>
                <button type="submit"
                    style="display: block; margin: 0 auto; padding: 10px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">Submit</button>
            </form>
        </div>
    </section>

    <!-- Start: Products Section -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="booksmedia-detail-main">
                    <div class="container">
                        <div class="table table-bordered">
                            <table id="supplierTable" class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Address</th>
                                        <th>Status</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% suppliers.forEach(function(supplier) { %>
                                        <tr>
                                            <td>
                                                <%= supplier.id %>
                                            </td>
                                            <td>
                                                <%= supplier.name %>
                                            </td>
                                            <td>
                                                <%= supplier.email %>
                                            </td>
                                            <td>
                                                <%= supplier.phoneNumber %>
                                            </td>
                                            <td>
                                                <%= supplier.address %>
                                            </td>
                                            <td>
                                                <%= supplier.status %>
                                            </td>
                                            <td>
                                                <button class="small-button" type="button" onclick="openUpdateDialog('<%= supplier.id %>', 
                                                '<%= supplier.name %>', '<%= supplier.email %>', '<%= supplier.phoneNumber %>', 
                                                    '<%= supplier.address %>', '<%= supplier.status %>')">Update
                                                    Supplier</button>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- End: Products Section -->

    <!-- Modal -->
    <div id="updateModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeUpdateDialog()">&times;</span>
            <form id="updateForm">
                <div style="margin-top: 10px;">
                    <label for="updateSupplierId">Id:</label>
                    <input type="text" id="updateSupplierId" name="updateSupplierId" style="width: 100%;" readonly>
                </div>
                <div style="margin-top: 10px;">
                    <label for="updateSupplierName">Name:</label>
                    <input type="text" id="updateSupplierName" name="updateSupplierName" style="width: 100%;">
                </div>
                <div style="margin-top: 10px;">
                    <label for="updateSupplierEmail">Email:</label>
                    <input type="email" id="updateSupplierEmail" name="updateSupplierEmail" style="width: 100%;">
                </div>
                <div style="margin-top: 10px;">
                    <label for="updateSupplierPhoneNumber">Phone Number:</label>
                    <input type="text" id="updateSupplierPhoneNumber" name="updateSupplierPhoneNumber"
                        style="width: 100%;">
                </div>
                <div style="margin-top: 10px;">
                    <label for="updateSupplierAddress">Address:</label>
                    <input type="text" id="updateSupplierAddress" name="updateSupplierAddress" style="width: 100%;">
                </div>
                <div style="margin-top: 10px;">
                    <label for="updateSupplierStatus">Status:</label>
                    <select id="updateSupplierStatus" name="supplierStatus"
                        style="width: 100%; padding: 8px; border: 1px solid #ebebeb; border-radius: 6px;">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                        <option value="Pending">Pending</option>
                        <!-- Thêm các tùy chọn khác nếu cần -->
                    </select>
                </div>
                <div style="margin-top: 10px;">
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Start: Social Network -->
    <section class="social-network section-padding">
        <div class="container">
            <div class="center-content">
                <h2 class="section-title">Follow Us</h2>
                <span class="underline center"></span>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <ul>
                <li>
                    <a class="facebook" href="#" target="_blank">
                        <span>
                            <i class="fa fa-facebook-f"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="#" target="_blank">
                        <span>
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="google" href="#" target="_blank">
                        <span>
                            <i class="fa fa-google-plus"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="rss" href="#" target="_blank">
                        <span>
                            <i class="fa fa-rss"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="linkedin" href="#" target="_blank">
                        <span>
                            <i class="fa fa-linkedin"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="youtube" href="#" target="_blank">
                        <span>
                            <i class="fa fa-youtube"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- End: Social Network -->

    <!-- Start: Footer -->
    <footer class="site-footer">
        <div class="container">
            <div id="footer-widgets">
                <div class="row">
                    <div class="col-md-4 col-sm-6 widget-container">
                        <div id="text-2" class="widget widget_text">
                            <h3 class="footer-widget-title">About Libraria</h3>
                            <span class="underline left"></span>
                            <div class="textwidget">
                                It is a long established fact that a reader will be distracted by the
                                readable content
                                of a page when looking.
                            </div>
                            <address>
                                <div class="info">
                                    <i class="fa fa-location-arrow"></i>
                                    <span>21 King Street, Melbourne, Victoria 3000 Australia</span>
                                </div>
                                <div class="info">
                                    <i class="fa fa-envelope"></i>
                                    <span><a href="mailto:support@libraria.com">support@libraria.com</a></span>
                                </div>
                                <div class="info">
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:012-345-6789">+ 012-345-6789</a></span>
                                </div>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 widget-container">
                        <div id="nav_menu-2" class="widget widget_nav_menu">
                            <h3 class="footer-widget-title">Quick Links</h3>
                            <span class="underline left"></span>
                            <div class="menu-quick-links-container">
                                <ul id="menu-quick-links" class="menu">
                                    <li><a href="#">Library News</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Meet Our Staff</a></li>
                                    <li><a href="#">Board of Trustees</a></li>
                                    <li><a href="#">Budget</a></li>
                                    <li><a href="#">Annual Report</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                    <div class="col-md-2 col-sm-6 widget-container">
                        <div id="text-4" class="widget widget_text">
                            <h3 class="footer-widget-title">Timing</h3>
                            <span class="underline left"></span>
                            <div class="timming-text-widget">
                                <time datetime="2017-02-13">Mon - Thu: 9 am - 9 pm</time>
                                <time datetime="2017-02-13">Fri: 9 am - 6 pm</time>
                                <time datetime="2017-02-13">Sat: 9 am - 5 pm</time>
                                <time datetime="2017-02-13">Sun: 1 pm - 6 pm</time>
                                <ul>
                                    <li><a href="#">Closings</a></li>
                                    <li><a href="#">Branches</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 widget-container">
                        <div class="widget twitter-widget">
                            <h3 class="footer-widget-title">Latest Tweets</h3>
                            <span class="underline left"></span>
                            <div id="twitter-feed">
                                <ul>
                                    <li>
                                        <p><a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde omnis
                                            iste natus
                                            error sit voluptatem. <a href="#">template-libraria.com</a></p>
                                    </li>
                                    <li>
                                        <p><a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde omnis
                                            iste natus
                                            error sit voluptatem. <a href="#">template-libraria.com</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="footer-text col-md-3">
                        <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                    </div>
                    <div class="col-md-9 pull-right">
                        <ul>
                            <li><a href="index-2.html">Home</a></li>
                            <li><a href="books-media-list-view.html">Books &amp; Media</a></li>
                            <li><a href="news-events-list-view.html">News &amp; Events</a></li>
                            <li><a href="#">Kids &amp; Teens</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End: Footer -->

    <!-- jQuery Latest Version 1.x -->
    <!-- <script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script> -->

    <!-- jQuery UI -->
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>

    <!-- jQuery Easing -->
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- Mobile Menu -->
    <script type="text/javascript" src="/js/mmenu.min.js"></script>

    <!-- Harvey - State manager for media queries -->
    <script type="text/javascript" src="/js/harvey.min.js"></script>

    <!-- Waypoints - Load Elements on View -->
    <script type="text/javascript" src="/js/waypoints.min.js"></script>

    <!-- Facts Counter -->
    <script type="text/javascript" src="/js/facts.counter.min.js"></script>

    <!-- MixItUp - Category Filter -->
    <script type="text/javascript" src="/js/mixitup.min.js"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="/js/owl.carousel.min.js"></script>

    <!-- Accordion -->
    <script type="text/javascript" src="/js/accordion.min.js"></script>

    <!-- Responsive Tabs -->
    <script type="text/javascript" src="/js/responsive.tabs.min.js"></script>

    <!-- Responsive Table -->
    <script type="text/javascript" src="/js/responsive.table.min.js"></script>

    <!-- Masonry -->
    <script type="text/javascript" src="/js/masonry.min.js"></script>

    <!-- Carousel Swipe -->
    <script type="text/javascript" src="/js/carousel.swipe.min.js"></script>

    <!-- bxSlider -->
    <script type="text/javascript" src="/js/bxslider.min.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="/js/main.js"></script>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#supplierTable').DataTable();
        });
    </script>
</body>

</html>

<script>
    function openUpdateDialog(id, name, email, phoneNumber, address, status) {
        document.getElementById('updateSupplierId').value = id;
        document.getElementById('updateSupplierName').value = name;
        document.getElementById('updateSupplierEmail').value = email;
        document.getElementById('updateSupplierPhoneNumber').value = phoneNumber;
        document.getElementById('updateSupplierAddress').value = address;
        document.getElementById('updateSupplierStatus').value = status;
        document.getElementById('updateModal').style.display = 'block';
    }

    function closeUpdateDialog() {
        document.getElementById('updateModal').style.display = 'none';
    }

    // submit update form
    document.getElementById('updateForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const supplierId = document.getElementById('updateSupplierId').value;
        const supplierName = document.getElementById('updateSupplierName').value;
        const supplierEmail = document.getElementById('updateSupplierEmail').value;
        const supplierPhoneNumber = document.getElementById('updateSupplierPhoneNumber').value;
        const supplierAddress = document.getElementById('updateSupplierAddress').value;
        const supplierStatus = document.getElementById('updateSupplierStatus').value;

        console.log(`Supplier ID: ${supplierId}`);
        console.log(`Supplier Name: ${supplierName}`);
        console.log(`Supplier Email: ${supplierEmail}`);
        console.log(`Supplier Phone Number: ${supplierPhoneNumber}`);
        console.log(`Supplier Address: ${supplierAddress}`);
        console.log(`Supplier Status: ${supplierStatus}`);

        try {
            const response = await fetch('/updateSupplier', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    supplierId,
                    supplierName,
                    supplierEmail,
                    supplierPhoneNumber,
                    supplierAddress,
                    supplierStatus
                })
            });

            if (!response.ok) {
                const result = await response.json();
                throw new Error(result.error);
            }

            window.location.href = '/supplier';
        } catch (error) {
            alert(`Error: ${error.message}`);
        }
    });

    function toggleForm() {
        var form = document.getElementById("supplierForm");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }

    // submit add form
    async function submitSupplierForm(event) {
        event.preventDefault();

        const supplierName = document.getElementById('supplierName').value;
        const supplierEmail = document.getElementById('supplierEmail').value;
        const supplierPhoneNumber = document.getElementById('supplierPhoneNumber').value;
        const supplierAddress = document.getElementById('supplierAddress').value;
        const supplierStatus = document.getElementById('supplierStatus').value;

        try {
            const response = await fetch('/supplier', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    supplierName,
                    supplierEmail,
                    supplierPhoneNumber,
                    supplierAddress,
                    supplierStatus
                })
            });

            if (!response.ok) {
                const result = await response.json();
                throw new Error(result.error);
            }

            window.location.href = '/supplier';
        } catch (error) {
            alert(`Error: ${error.message}`);
        }
    }

    function goToOrderManagement() {
        window.location.href = '/orderManagement';
    }

    function goToImportManagement() {
        window.location.href = '/importManagement';
    }
</script>
<script>
    function changeEmail(newEmail) {
        // Lấy thẻ <a> bằng ID
        var emailLink = document.getElementById("emailLink");

        // Thay đổi nội dung của thẻ <a> bằng biến string mới
        emailLink.innerHTML = "<i class='fa fa-envelope'></i>" + newEmail;

        // Thay đổi thuộc tính href của thẻ <a> (nếu cần)
        emailLink.href = "mailto:" + newEmail;
    }

    async function initializePage() {
        // Đoạn mã JavaScript của bạn ở đây
        var newEmail = "chien4@gmail.com";
        try {
            const response = await fetch('/checkCurrentUser', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({

                })
            });

            if (!response.ok) {
                throw new Error('Error occurred while checking current user');
            }

            const data = await response.json(); // Chuyển đổi phản hồi sang đối tượng JSON
            newEmail = data.message;


        } catch (error) {
            alert(`Error: ${error.message}`);
        }
        changeEmail(newEmail);
    }

    // Gọi hàm khi trang được tải hoàn toàn
    document.addEventListener('DOMContentLoaded', () => {
        initializePage();
    });
</script>